/* adding color to the body of the webpage and changing the font */
body {background-color: rgb(233, 161, 7);
font-weight: bold;}
padding: 30px;




/* Changing the color to header 1 */
h1 {color: black;}

/* changing the color to the first paragraph */
p {color: rgba(172, 34, 241, 0.781);
    font-weight: bold;
}

/* Adding a secondary backgrund color */
a {
    background-color: rgb(233, 161, 7);
    text-decoration: none;
}
/* blended the backgroumd of the ul */
ul {background-color: rgb(233, 161, 7);}

/* changed the color to match the first paragraphand chyanging the font */
li {color: rgb(172, 34, 241, 0.781);
    font-weight: bold;
}
/* changed the color to the scond font and changing the font */
h2 {color: rgb(172, 34, 241, 0.781);
font-weight: bold;}


.fav-section {background-color: rgba(2, 0, 3, 0.781);


}